#washingmachine1-tattoo{
    height:515px ;
    width: 725px;
    bottom: 50px;
    right: 140px;
}

#washingmachine1-book1{
    height: 470px;
    width: 627px;
    top: 35px;
    left: 250px;
}

#washingmachine1-book2{
    height: 609px;
    width: 447px;
    bottom:50px;
    left: 210px;
}

#washingmachine1-brush{
   width: 258px;
   height: 635px;
   bottom:50px;
   left:630px;
}

#venus1-tattoo{
    width:420px;
    height:528px;
    bottom:50px;
    right:220px;
}

#venus1-original{
    width:447px;
    height:433px;
    top:45px;
    right:490px;
}

#venus1-title{
    width:740px;
    height:162px;
    top:75px;
    left:190px;
}

#venus1-text-background{
    width:732px;
    height:797px;
    bottom:48px;
    left:190px;
}

#centipede1-tattoos{
    width:750px;
    height:970px;
    top:50px;
    left:190px;
}

#centipede1-text-background{
    width:650px;
    height:970px;
    bottom:50px;
    right:260px;
}

#frankie1-tattoo{
    width:731px;
    height:982px;
    top:50px;
    right:245px;
}

#frankie1-text-background{
    width:650px;
    height:970px;
    top:50px;
    left:215px;
}

#song1-tattoo{
    width:720px;
    height:818px;
    top:130px;
    left:200px;
}

#song1-background{
    width:746px;
    height:1002px;
    top:35px;
    left:185px;
}

#wildonion1-tattoo{
    width:743px;
    height:988px;
    top:40px;
    right:220px;
}

#wildonion1-text-background{
    width:720px;
    height:982px;
    bottom:50px;
    left:197px;
}

#mimi1-tattoo{
    width:345px;
    height:623px;
    top:60px;
    left:240px;
}

#mimi1-tshirt{
    width:658px;
    height:573px;
    bottom:43px;
    left:190px;
}

#mandrake1-tattoo{
    width:732px;
    height:980px;
    top:60px;
    right:220px;
}

#semicolon1-tattoo{
    width:559px;
    height:728px;
    top:50px;
    right:220px;
}

#semicolon1-flowers{
    width:259px;
    height:962px;
    top:65px;
    right:690px;
}

#semicolon1-fortune{
    width:389px;
    height:155px;
    bottom:95px;
    right:240px;
}

#bee1-tattoo{
    width:723px;
    height:970px;
    top:65px;
    right:225px;
}

#room51-tattoo{
    width:716px;
    height:619px;
    top:95px;
    left:205px;
}

#room51-seratonin{
    width:373px;
    height:436px;
    bottom:60px;
    left:205px;
}

#room51-book{
    width:277px;
    height:359px;
    bottom:40px;
    left:580px;
}

#origamicrane1-tattoo{
    width:538px;
    height:617px;
    top:60px;
    right:310px;
}

#origamicrane1-fold1{
    width:506px;
    height:294px;
    bottom:120px;
    right:230px;
}

#origamicrane1-fold2{
    width:424px;
    height:294px;
    bottom:78pxpx;
    right:535px;
}

#thisthat1-tattoo{
    width:702px;
    height:976px;
    top:53px;
    left:202px;
}

#frog1-tattoo{
    width:736px;
    height:996px;
    bottom:60px;
    left:205px;
}

#frog1-comic{
    width:431px;
    height:426px;
    top:60px;
    right:240px;
}

#thunderdog1-tattoo{
    width:676px;
    height:196px;
    top:200px;
    right:243px;
}

#thunderdog1-florence-collage{
    width:770px;
    height:900px;
    top:250px;
    left:175px;
}

#freemartin1-tattoo{
    width:705px;
    height:972px;
    top:50px;
    left:220px;
}

#freemartin-book{
    width:324px;
    height:440px;
    bottom:50px;
    left:**************px;
}

#bubzee1-tattoo{
    width:629px;
    height:843px;
    bottom:******************px;
    right:270px;
}

#bubzee1-text-background{
    width:629px;
    height:919px;
    top:115px;
    left:166px;
}

#noboats1-tattoo{
    width:716px;
    height:703px;
    bottom:57px;
    right:240px;
}

#noboats1-envelope{
    width:728px;
    height:482px;
    top:60px;
    left:200px;
}

frog comic
margin-top:40px;
margin-left:300px;