#desk {
    background-image: url('../img/wood-desk.jpg') ;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    margin: 0%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#journal {
    background-image: url('../img/background1-journal1.png') ;
    width: 1565px;
    height: 1060px;
    position: absolute;
}

#song1-tattoo{
    background-image: url(../img/song1-background.png);
    width:720px;
    height:818px;
    margin-top:120px;
    margin-left:50px;
}

#song1-background{
    width:746px;
    height:1002px;
    top:35px;
    left:185px;
}

.two-page{
    display: inline-flex;
}

#wildonion1-right, #wildonion1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#wildonion1-tattoo{
    width:743px;
    height:988px;
    margin-top:40px;
    margin-left: 15px;
}

#wildonion1-text-background{
    width:720px;
    height:982px;
    margin-top:40px;
    margin-left:40px;
}

#mimi1-right, #mimi1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#mimi1-tattoo{
    width:345px;
    height:623px;
    margin-top:30px;
    margin-left: 400px;
}

#mimi1-tshirt{
    width:658px;
    height:573px;
    margin-top: 450px;
    margin-left:35px;
}