document, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "homemade-apple";
    src: url('../fonts/HomemadeApple.ttf') format('truetype');
}

@font-face {
    font-family: "optima";
    src: url('../img/OPTIMA.TTF') format('truetype');
}

.handwritten{
    font-family: "homemade-apple";
}

.prev{
    position: absolute;
    margin-right: 1800px;
    background: url(../img/back-button-2.png);
    width: 152px;
    height: 71px;
    margin-left: 50px;
}

.next{
    position: absolute;
    margin-left: 1800px;
    background: url(../img/next-button.png);
    width: 125px;
    height: 52px;
    margin-right: 30px;
}

.opening-page{
    background-image: url(../img/title-page.png);
    width: 1920px;
    height: 1080px;
}

.desk {
    background-image: url('../img/wood-desk.jpg') ;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    margin: 0%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.journal {
    background-image: url('../img/background1-journal1.png') ;
    width: 1565px;
    height: 1060px;
    position: absolute;
}

#song1-tattoo{
    background-image: url(../img/song1-background.png);
    width:720px;
    height:818px;
    margin-top:120px;
    margin-left:50px;
}

#song1-background{
    width:746px;
    height:1002px;
    top:35px;
    left:185px;
}

#song1-text{
    width: 700px;
    height: 980px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 23px;
}

.two-page{
    display: inline-flex;
}

#wildonion1-right, #wildonion1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#wildonion1-tattoo{
    width:743px;
    height:988px;
    margin-top:40px;
    margin-left: 15px;
}

#wildonion1-right{
    background: url(../img/wildonion1-text-background.png);
    width:720px;
    height:982px;
    margin-top:40px;
    margin-left:40px;
    margin-right: 45px;
}

#wildonion1-text{
    width: 700px;
    height: 980px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 21px;
    color: antiquewhite;
}

#mimi1-right, #mimi1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#mimi1-tattoo{
    width:445px;
    height:723px;
    margin-top:50px;
    margin-left: 300px;
}

#mimi1-text{
    width: 700px;
    height: 400px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
}

#mimi1-tshirt-image-wrapper{
    width: 700px;
    height: 600px;
}

#mimi1-tshirt{
    width:658px;
    height:573px;
    margin-left: 30px;
    margin-top: 25px;
}

#mandrake1-right, #mandrake1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#mandrake1-tattoo{
    width:732px;
    height:980px;
    margin-top:40px;
    margin-left:20px;
}

#mandrake1-text{
    width: 700px;
    height: 980px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 25px;
}

#washingmaching1-right, #washingmachine1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#washingmachine1-left, #washingmachine1-right{
    Width: 700px;
    height: 980px;
}

#washingmachine1-left{
    width:732px;
    height:980px;
    margin-top:40px;
    margin-left:20px;
}

#washingmachine1-text{
    width: 700px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
}

#washingmachine1-tattoo{
    height:415px ;
    width: 625px;
    margin-left: 160px;
    margin-top: 100px;
}

#semicolon1-right, #semicolon1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#semicolon1-tattoo{
    width:732px;
    height:980px;
    margin-top:40px;
    margin-left:20px;
}

#semicolon1-text{
    width: 700px;
    height: 980px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 19px;
}

#bee1-right, #bee1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#bee1-tattoo{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 40px;
}

#bee1-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 19px;
}

#room51-right, #room51-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#room51-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#room51-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 17px;
}

#origamicrane1-right, #origamicrane1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#origamicrane1-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#origamicrane1-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 20px;
}

#thisthat1-right, #thisthat1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#thisthat1-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#thisthat1-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 22px;
}

#frog1-right, #frog1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#frog1-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#frog1-comic{
    width:431px;
    height:426px;
    margin-top:40px;
    margin-left:300px;
}

#frog1-text{
    width: 700px;
    height: 400px;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 21px;
}

#thunderdog1-right, #thunderdog1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#thunderdog1-text{
    width: 700px;
    height: 80px;
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 0px;
    font-size: 23px;
}

#thunderdog1-florence-collage{
    width:770px;
    height:900px;
    margin-left:25px;
}

#thunderdog1-tattoo{
    width:650px;
    height:650px;
    margin-top:200px;
    margin-left:60px; 
}

#freemartin1-right, #freemartin1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#freemartin1-tattoo{
    width:705px;
    height:972px;
    margin-top:50px;
    margin-left:50px;
}

#freemartin1-text{
    width: 700px;
    height: 50px;
    margin-top: 60px;
    margin-left: 40px;
    font-size: 23px;
}

#freemartin1-book{
    width:324px;
    height:440px;
    margin-top:460px;
    margin-left:400px;
}

#bubzee1-right, #bubzee1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#bubzee1-tattoo{
    width:629px;
    height:843px;
    margin-top: 90px;
    margin-left: 60px;
}

#bubzee1-text-background{
    background: url(../img/bubzee1-text-background.png);
    width:740px;
    height:980px;
    margin-top:30px;
    margin-left:40px;
}

#bubzee1-text{
    width: 600px;
    height: 500px;
    padding: 100px 120px 80px 130px;
    font-size: 17px;
}

#bubzee-text-wrapper{
    padding: 100px 120px 80px 130px;
}

#venus1-right, #venus1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#venus1-left-layer {
    background: url(../img/venus1-left-layer.png);
    width:740px;
    height:960px;
    margin-top:45px;
    margin-left:40px;  
}

#venus1-text-wrapper{
    margin-top: 80px;
}

#venus1-text{
    width: 600px;
    height: 800px;
    margin-bottom: 40px;
    margin-left: 80px;
    font-size: 19px;
    color: antiquewhite; 
}

#venus1-right-layer{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:25px; 
}

#centipede1-right, #centipede1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#centipede1-tattoos{
    width:750px;
    height:970px;
    margin-top:50px;
    margin-left:50px;
}

#centipede1-right{
    background: url(../img/centipede1-text-background.png);
    width: 500px;
    height:940px;
    margin-top: 60px;
    margin-left:95px;
    margin-right: 85px;
}

#centipede1-text{
    width: 550px;
    height: 900px;
    margin-bottom: 40px;
    margin-left:50px;
    font-size: 19px;
    color: antiquewhite; 
}

#noboats1-right, #noboats1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#noboats1-tattoo{
    width:716px;
    height:703px;
    margin-top:160px;
    margin-left:20px;
}

#noboats1-envelope{
    width:728px;
    height:482px;
    margin-top:50px;
    margin-left:50px;
}

#noboats1-text{
    width: 700px;
    height: 200px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 17px;
}

