#desk {
    background-image: url('../img/wood-desk.jpg') ;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    margin: 0%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#journal {
    background-image: url('../img/background1-journal1.png') ;
    width: 1565px;
    height: 1060px;
    position: absolute;
}

#song1-tattoo{
    background-image: url(../img/song1-background.png);
    width:720px;
    height:818px;
    margin-top:120px;
    margin-left:50px;
}

#song1-background{
    width:746px;
    height:1002px;
    top:35px;
    left:185px;
}

.two-page{
    display: inline-flex;
}

#wildonion1-right, #wildonion1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#wildonion1-tattoo{
    width:743px;
    height:988px;
    margin-top:40px;
    margin-left: 15px;
}

#wildonion1-text-background{
    width:720px;
    height:982px;
    margin-top:40px;
    margin-left:40px;
}

#mimi1-right, #mimi1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#mimi1-tattoo{
    width:345px;
    height:623px;
    margin-top:30px;
    margin-left: 400px;
}

#mimi1-tshirt{
    width:658px;
    height:573px;
    margin-top: 450px;
    margin-left:35px;
}

#mandrake1-right, #mandrake1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#mandrake1-tattoo{
    width:732px;
    height:980px;
    margin-top:40px;
    margin-left:20px;
}

#mandrake1-text{
    width: 700px;
    height: 980px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#washingmaching1-right, #washingmachine1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#washingmachine1-left, #washingmachine1-right{
    Width: 700px;
    height: 980px;
}

#washingmachine1-tattoo{
    height:415px ;
    width: 625px;
    margin-left: 190px;
    margin-top: 600px;
}

#semicolon1-right, #semicolon1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#semicolon1-tattoo{
    width:732px;
    height:980px;
    margin-top:40px;
    margin-left:20px;
}

#semicolon1-text{
    width: 700px;
    height: 980px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#bee1-right, #bee1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#bee1-tattoo{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 40px;
}

#bee1-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#room51-right, #room51-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#room51-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#room51-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#origamicrane1-right, #origamicrane1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#origamicrane1-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#origamicrane1-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
}

#thisthat1-right, #thisthat1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#thisthat1-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#thisthat1-text{
    width:723px;
    height:970px;
    margin-top: 50px;
    margin-left: 35px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif; 
}

#frog1-right, #frog1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#frog1-tattoo{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#frog1-comic{
    width:431px;
    height:426px;
    margin-top:40px;
    margin-left:300px;
}

#thunderdog1-right, #thunderdog1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#thunderdog1-florence-collage{
    width:770px;
    height:900px;
    margin-top:150px;
    margin-left:25px;
}

#thunderdog1-tattoo{
    width:650px;
    height:650px;
    margin-top:200px;
    margin-left:60px; 
}

#freemartin1-right, #freemartin1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#freemartin1-tattoo{
    width:705px;
    height:972px;
    margin-top:50px;
    margin-left:50px;
}

#freemartin1-book{
    width:324px;
    height:440px;
    margin-top:600px;
    margin-left:400px;
}

#bubzee1-right, #bubzee1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#bubzee1-tattoo{
    width:629px;
    height:843px;
    margin-top: 90px;
    margin-left: 60px;
}

#bubzee1-text-background{
    width:629px;
    height:919px;
    margin-top:70px;
    margin-left:80px;
}

#venus1-right, #venus1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#venus1-left-layer {
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:40px;  
}

#venus1-right-layer{
    width:732px;
    height:980px;
    margin-top:45px;
    margin-left:25px; 
}

#centipede1-right, #centipede1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#centipede1-tattoos{
    width:750px;
    height:970px;
    margin-top:50px;
    margin-left:50px;
}

#centipede1-text-background{
    width:650px;
    height:970px;
    margin-top:50px;
    margin-left:45px;
}

#noboats1-right, #noboats1-left{
    flex: 1;
    width: 750px;
    height: 1000px;
}

#noboats1-tattoo{
    width:716px;
    height:703px;
    margin-top:160px;
    margin-left:20px;
}

#noboats1-envelope{
    width:728px;
    height:482px;
    margin-top:30px;
    margin-left:50px;
}
